@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 201, 209, 217;
  --background-start-rgb: 13, 17, 23;
  --background-end-rgb: 13, 17, 23;
}

@layer base {
  body {
    @apply bg-moon-bg text-moon-text font-mono antialiased;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(0, 255, 148, 0.5);
  }
  .border-glow {
    box-shadow: 0 0 10px rgba(0, 229, 255, 0.2);
  }
}
